.posts {
    margin-left: 10px;
    margin-top: 10px;


    &-item {
        display: flex;
        column-gap: 20px;
        padding: 10px;
        background-color: $bg-post;
        border: 1px solid $border-color;
        margin-top: 20px;

        &__img {
            width: 200px;
            height: 200px;
            overflow: hidden;
        }

        &__top {
            display: flex;
            justify-content: space-around;
        }

        &__data {
            color: $border-color;
        }

        &__btn {
            float: right;
            margin-right: 20px;
            padding: 10px 15px;
            background-color: $btn-color;
            color: $font-color;
            font-size: 16px;
            border: none;
            cursor: pointer;
            transition: all .2s ease-in-out;

            &:hover {
                transition: all .2s ease-in-out;
                background-color: $btn-hcolor;
            }
        }

    }
}