.login { 
    form {
       
        #id_username {
            width: 500px;
            margin-left: 50px;
        }

        #id_password {
            width: 500px;
            margin-left: 39px;
        }

        margin-bottom: 25%;
    }
}