.register {

    .form {

        width: 73.1rem;

        #id_username {
            margin-left: 73px;
            width: 500px;
        }

        #id_password1 {
            margin-left: 63px;
            width: 500px;
        }

        #id_password2 {
            width: 500px;
            margin-left: -27px;
        }

    }

}