@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@600&family=Montserrat:wght@400;600;700&display=swap');

$bg-color: #222;
$color: #333;
$font-color: #fff;
$bg-post: #444;
$border-color: #999;
$input-color: #d8d8d8;
$btn-color: #226faa;
$btn-hcolor: rgb(27, 89, 136);

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: $font-color;
    cursor: pointer;

    &:hover {
        transition: all .3s ease-in-out;
        color: grey;
    }
}

p,
li {
    font-family: 'Geologica', sans-serif;
    transition: all .3s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $font-color;
    background: $bg-color;
}

.container {
    position: relative;
    margin-left: 1%;
    width: 94.7%;
    background: $color;
    padding: 20px;


}

.paginate {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    
    li {
        font-size: 20px;
        list-style: none;
        margin: 10px;
    }

    &__selected {
        color: grey;
    }
}


@import 'header';
@import 'left-bar';
@import 'footer';
@import 'index';
@import 'post';
@import 'add-post';