@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@600&family=Montserrat:wght@400;600;700&display=swap");
h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif; }

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer; }
  a:hover {
    transition: all .3s ease-in-out;
    color: grey; }

p,
li {
  font-family: 'Geologica', sans-serif;
  transition: all .3s ease-in-out; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  background: #222; }

.container {
  margin-left: 1%;
  width: 94.74%;
  background: #333;
  padding: 20px; }

.paginate {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .paginate li {
    font-size: 20px;
    list-style: none;
    margin: 10px; }
  .paginate__selected {
    color: grey; }

.header {
  margin-top: 1%;
  margin-left: 1%;
  width: 98%;
  display: flex;
  background-color: #333;
  font-size: 20px;
  justify-content: space-around;
  align-items: center; }
  .header__center {
    display: flex;
    column-gap: 30px;
    margin-right: 10px; }
    .header__center p {
      cursor: pointer; }
      .header__center p:hover {
        transition: all .3s ease-in-out;
        color: grey; }

.left_bar {
  background-color: #333;
  width: 20%;
  margin-left: 1%; }
  .left_bar__list {
    padding: 20px; }
    .left_bar__list-item {
      cursor: pointer;
      list-style: none;
      font-size: 25px;
      padding-bottom: 20px;
      cursor: pointer; }
      .left_bar__list-item:hover {
        transition: all .3s ease-in-out;
        color: grey; }
      .left_bar__list-item__selected {
        list-style: none;
        color: grey;
        font-size: 25px;
        padding-bottom: 20px; }

.footer {
  margin-left: 1%;
  margin-bottom: 1%;
  background-color: #333;
  width: 98%;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center; }

.posts {
  margin-left: 10px;
  margin-top: 10px; }
  .posts-item {
    display: flex;
    column-gap: 20px;
    padding: 10px;
    background-color: #444;
    border: 1px solid #999;
    margin-top: 20px; }
    .posts-item__img {
      user-select: none;
      width: 200px;
      height: 200px;
      overflow: hidden; }
    .posts-item__top {
      display: flex;
      justify-content: space-around; }
    .posts-item__data {
      color: #999; }
    .posts-item__btn {
      float: right;
      margin-right: 20px;
      padding: 10px 15px;
      background-color: #226faa;
      color: #fff;
      font-size: 16px;
      border: none;
      cursor: pointer;
      transition: all .2s ease-in-out; }
      .posts-item__btn:hover {
        transition: all .2s ease-in-out;
        background-color: #1b5988; }

.post {
  padding: 20px;
  background-color: #444;
  display: flex;
  column-gap: 20px; }
  .post__left img {
    width: 300px; }
  .post__title {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }

.add-post .form, .register .form, .login .form {
  width: 72.2rem; }
  .add-post .form__errors, .register .form__errors, .login .form__errors {
    font-size: 15px;
    color: red; }
  .add-post .form p, .register .form p, .login .form p {
    margin-right: 50px;
    margin-bottom: 20px; }
  .add-post .form__row, .register .form__row, .login .form__row {
    display: flex;
    align-items: baseline;
    column-gap: 10px; }
  .add-post .form__title, .register .form__title, .login .form__title {
    background-color: #d8d8d8;
    width: 250%;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    margin-left: -15px; }
  .add-post .form__content, .register .form__content, .login .form__content {
    outline: none;
    margin-left: 26.5px;
    resize: none;
    background-color: #d8d8d8;
    width: 120%;
    padding: 10px;
    font-size: 16px;
    border: none;
    height: 200%; }
  .add-post .form__btn, .register .form__btn, .login .form__btn {
    padding: 10px 15px;
    background-color: #226faa;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out; }
    .add-post .form__btn:hover, .register .form__btn:hover, .login .form__btn:hover {
      transition: all .2s ease-in-out;
      background-color: #1b5988; }

.add-post #id_photo, .register #id_photo, .login #id_photo {
  margin-left: 27px; }

.add-post #id_category, .register #id_category, .login #id_category {
  margin-left: -5px; }

.login form #id_username {
  width: 500px;
  margin-left: 50px; }

.login form #id_password {
  width: 500px;
  margin-left: 39px; }

.register .form {
  width: 73.1rem; }
  .register .form #id_username {
    margin-left: 73px;
    width: 500px; }
  .register .form #id_password1 {
    margin-left: 63px;
    width: 500px; }
  .register .form #id_password2 {
    width: 500px;
    margin-left: -27px; }

/*# sourceMappingURL=style.css.map */